body{
    font-family: sans-serif;
    text-align: center;
}

form{
    background-color: rgb(243, 226, 226);
    text-align: center;
    max-width: 530px;
    border-radius: 5%;
    margin: auto;
    padding: 25px;
    box-shadow: 5px 5px 5px rgba(58, 42, 42, 0.507);
}
#textBox{
    text-align: center;
}

#button:hover{
    background-color: rgb(247, 159, 159)
}

.username-input{
    text-align: center;
    margin-bottom: 20px;
}

#random-num-button{
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 5%;
}
#random-num-label{
    font-size: 30px;
}
.random-num{
    text-align: center;
    margin-top: 30px;
}